:root {
    --primary-color: #FF9900;
    --secondary-color: #FFC700;
    --minor-color: #FFE7C2;
    --bg: #F2EDE5;

    /* Font */
    --title-size: 1.5rem;
    --body-size: 1.1rem;
    --desctiprion-size: 1rem;
    --title-weight: 100;

    --body-text-color: #222222;
    --note-text-color: #979797;

    /* borders */
    --button-border-radius: 0.5rem;
    --sidebar-border-radius: 0.8rem;
    --general-border-radius: 0.6rem;

    /* Colors */
    --primary-green: #2BA600;
    --secondary-green: #1BBF00;
    --minor-green: #CCEAC2;

    --primary-yellow: #FF9900;
    --secondary-yellow: #FFC700;
    --minor-yellow: #FFE7C2;

    --primary-blue: #00A3FF;
    --secondary-blue: #00C2FF;
    --minor-blue: #C2E9FF;

    --primary-purple: #B900B1;
    --secondary-purple: #D848D2;
    --minor-purple: #DF7FDB;

    --primary-red: #E95757;
    --secondary-red: #C14D4D;

    --shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  }

  @font-face {
    font-family: 'Itim';
    src: url('./resources/fonts/Itim-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./resources/fonts/static/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GasoekOne';
    src: url('.resources./fonts/GasoekOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  html{
    min-width: fit-content;
  }

  .body {
    background: var(--bg);
    color: var(--body-text-color);
    font-size: var(--body-size);
  }

  div.sideBarButtonContainer{
    /*background-color: var(--secondary-purple);*/
    text-align: center;
  }

  .sideBarButton {
    background: var(--primary-color);
    color: white;
    border: solid 0.2rem white;
    width: 4.5rem;
    border-radius: 100%;
    aspect-ratio: 1/1;
    padding: 1rem 1rem;
    margin: 0.3rem;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: var(--shadow);
  }

  .sideBarButton:hover {
    filter: brightness(0.9);
    transition: all 0.3s;
  }

  div.topBar {
    margin-top: 1rem;
    width: 100%;
    height: 10rem;
    /*background-color: blue;*/
    display: grid;
    grid-template-rows: 6rem 4rem;
  }

  div.upperPart{
    /*background-color: var(--primary-purple);*/
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  div.lowerPart{
    overflow: hidden;
    width: 100%;
  }

  div.buttonScroll{
    /*background-color: var(--primary-red);*/
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    overflow-x: auto;
  }

  div.buttonScroll::-webkit-scrollbar {
    height: 0.3rem;
    box-shadow: var(--shadow);
  }

  div.buttonScroll::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 100rem;
  }

  div.buttonScroll::-webkit-scrollbar-track {
    height: 0.3rem;
    background: rgba(211, 211, 211, 0.192);
  }
  
  div.titleContainer{
    font-family: 'Inter';
    display: flex;
    align-items: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.3rem;
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    text-transform: capitalize;
  }

  b.decoratedTitle{
    color: var(--primary-color);
    text-transform: uppercase;
  }
  
  b.buttonText{
    font-size: var(--body-size);
    font-weight: var(--title-weight);
    font-family: 'Inter';
  }

  button.quickButton{
    flex-shrink: 0;
    color: white;
    background-color: var(--primary-color);
    border: none;
    height: 100%;
    width: 8rem;
    border-radius: var(--button-border-radius);
    transition: all 0.3s;
    box-shadow: var(--shadow);
  }

  button.quickButton:hover{
    filter: brightness(0.9);
    transition: all 0.3s;
  }

  img.icon{
    margin-right: 0.5rem;
  }

  div.body{
    width: 100%;
    height: calc(100vh - 11rem);
    /*background-color: var(--primary-blue);*/
  }

  div.section{
    /*background-color: var(--primary-green);*/
    height: 100%;
    padding: 0.5rem;
  }
  

  div.hidden{
    display: none;
  }

  div.sidebar{
    z-index: 3;
    position: fixed;
    top: 0;
    left: -20rem;
    background: var(--primary-color);
    box-shadow: var(--shadow);
    height: 100vh;
    width: 20rem;
    border-top-right-radius: var(--sidebar-border-radius);
    border-bottom-right-radius: var(--sidebar-border-radius);
    transition: all 0.3s;
  }

  div.sidebar.open{
    left: 0;
    transition: all 0.3s;
  }

  div.overlay{
    position: fixed;
    top: 0;
    left: 0rem;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 2;
    background: rgba(0, 0, 0, 0.151);
    transition: all 0.3s;
  }

  div.overlay.visible{
    display: block;
    transition: all 0.3s;
  }

  h2.subtitle{
    font-size: 1.4rem;
    font-family: 'Inter';
    font-weight: bold;
  }

  div.eventContainer{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.3rem;
    width: 100%;
    height: calc(100% - 2.5rem);
    background-color: var(--minor-color);
    border-radius: var(--general-border-radius);
  }


  div.eventsList::-webkit-scrollbar {
    width: 0.5rem;
    box-shadow: var(--shadow);
  }

  div.eventsList::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 100rem;
  }

  div.eventsList::-webkit-scrollbar-track {
    background: rgba(211, 211, 211, 0.192);
  }

  div#eventPlaceholder.visible{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  img.emptyImg{
    width: 70%;
    max-width: 25rem;
    margin-bottom: 1.5rem;
  }

  p.infoText{
    font-size: var(--body-size);
    color: var(--primary-color);
    font-weight: bold;
  }

  div.eventsList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
    overflow-y: auto;
    padding-right: .2rem;
  }

  div.upcomingEvent{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: var(--general-border-radius);
    transition: all 0.3s;
    width: 100%;
    height: 6rem;
    overflow: hidden;
    box-shadow: var(--shadow);
    
    flex-shrink: 0;
  }

  h3.eventTitle {
    font-size: calc(var(--body-size) + 0.2rem);
    font-weight: bold;
    font-family: 'Inter';
    text-transform: capitalize;
    margin: 0;
    margin-top: .3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p.eventInfo {
    font-size: var(--desctiprion-size);
    font-family: 'Itim';
    color: var(--note-text-color);
    margin: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  button.eventButton{
    height: 70%;
    aspect-ratio: 1/1;
    background-color: var(--primary-color);
    background: var(--primary-color);
    border-radius: var(--button-border-radius);
    border: none;
    transition: all 0.3s;
  }

  button.eventButton:hover{
    filter: brightness(0.9);
    transition: all 0.3s;
  }
  
  div.eventInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: calc(100% - 6rem);
    height: 100%;
  }

  img.eventIcon{
    width: 1.5rem;
  }

  div.eventButtonContainer{
    display: flex;
    align-items: center;
  }

  
  
  